@import '../../pages/styles/mixins';

.dialog {
  position: fixed;
  top: 50%;
  left: 50%;
  z-index: 1001;
  transform: translate(-50%, -50%);
  background-color: white;
  width: 70%;
  max-width: 600px;
  min-height: 80%;
  padding: 2rem;
  border-radius: 1rem;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);

  &-content {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &-title {
    font-size: 3rem;
    margin-bottom: 1rem;
  }

  &-image {
    max-width: 400px;
    max-height: 400px;
    margin-bottom: 1rem;
  }

  &-message {
    font-size: 1.5rem;
    text-align: center;
    margin-bottom: 2rem;
  }

  &-price {
    font-size: 1.8rem;
    text-align: center;
    color: #b70000;
    margin-bottom: 2rem;
  }

  &-close {
    &,
    &-window {
      background-color: transparent;
      border: none;
      font-size: 1.5rem;
      cursor: pointer;
      margin-top: 1rem;
    }

    & {
      position: absolute;
      top: 1rem;
      right: 2rem;

      &-window {
        position: absolute;
        bottom: 2rem;
        display: flex;
        justify-content: center;
        align-items: center;
        @include operationButton;

        &:hover {
          background-color: #0056b3;
          transform: scale(1.1);
        }
      }
    }
  }
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
}
