.not-found {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 2rem;
}

.error-header {
  font-size: 15rem;
  font-weight: bold;
  color: #ff3366;
  position: relative;
  display: inline-block;

  &:before,
  &:after {
    content: attr(data-text);
    position: absolute;
    clip: rect(4.4rem, 45rem, 5.6rem, 0);
  }

  &:before {
    left: -0.2rem;
    text-shadow: -0.5rem 0 red;
    animation: glitch-anim-1 2s infinite linear alternate-reverse;
  }

  &:after {
    left: 0.2rem;
    text-shadow: -0.5rem 0 blue;
    animation: glitch-anim-2 2s infinite linear alternate-reverse;
  }
}

.error-message {
  margin-top: 2rem;
  font-size: 3rem;
}

.not-found-page-url {
  color: #ff3366;
  font-weight: 800;
}

.navigate-to-home {
  font-size: 2rem;
  margin-top: 3rem;
  text-decoration: none;
  display: inline-block;
  padding: 1rem 2rem;
  color: white;
  background-image: linear-gradient(45deg, #ff3366, #ff9900);
  border-radius: 0.4rem;
  transition: background 0.3s ease;
  &:hover {
    background-image: linear-gradient(45deg, #ff9900, #ff3366);
  }
}

@keyframes glitch-anim-1 {
  0%, 100% {
    clip: rect(4.2rem, 45rem, 5.6rem, 0);
  }
  20%, 40%, 60% {
    clip: rect(1.2rem, 45rem, 7.6rem, 0);
  }
  80% {
    clip: rect(4rem, 45rem, 4rem, 0);
  }
}

@keyframes glitch-anim-2 {
  0%, 100% {
    clip: rect(4.6rem, 45rem, 5.6rem, 0);
  }
  20%, 40%, 60% {
    clip: rect(0.6rem, 45rem, 6.4rem, 0);
  }
  80% {
    clip: rect(2rem, 45rem, 2.6rem, 0);
  }
}
