.home {
  .page-title {
    display: block;
    padding: 10px 0;
    border-bottom: 1px solid $textColor;
    font-size: 2.2rem;
    color: $textColor;
  }

  &__container {
    max-width: $breakPoint-1;
    margin: 0 auto;
    padding: 0 20px;

    & .navigation-bar__list {
      @media (min-width: $breakPoint-1) {
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
      }
      @media (max-width: $breakPoint-2) {
        z-index: 0;
        align-items: flex-start;
        display: block;
        padding-bottom: 5px;
        font-size: 1.5rem;
      }
    }

    .aside-bar {
      width: 160px;
      height: 410px;
      padding: 10px 15px;
      border-right: 1px solid $textColor;
      font-size: 1.8rem;

      &__list {
        display: flex;
        flex-direction: column;
        gap: 20px;
      }

      &__item {
        &:hover {
          transform: scale(1.05);
          transition: 0.4s;
        }

        & a {
          color: $textColor;
          transition: color 0.4s ease-in-out, box-shadow 0.4s ease-in-out;

          &:hover {
            color: $textColorOnHover;
          }
        }
      }
    }
  }
}
