.input-box {
  & > input[type="date"] {
    padding: 15px 8px;
  }

  & > select {
    width: 96%;
    height: 100%;
    padding: 0 30px 0 6px;
    border: none;
    outline: none;
    appearance: none;
    background-color: transparent;
    font-size: 1.6rem;
    font-weight: 600;
    color: #162938;
    cursor: pointer;

    &:focus ~ label {
      top: -3px;
    }

    & option:first-child {
      color: #a0a0a0;
    }
  }
}
