@import '../../globalVariables';

.page-content-container {
  width: 100%;
}

.product {
  max-width: $breakPoint-1;
  margin: 0 auto;
  padding: 0 20px;

  &__container {
    max-width: $breakPoint-1;
  }

  &-details-content {
    display: flex;
    padding: 20px 0;
    @media (max-width: $breakPoint-2) {
      display: block;
    }
  }

  &-text {
    display: flex;
    flex-direction: column;
    align-items: baseline;
    padding: 10px 30px;


    & > .product-title {
      margin-bottom: 30px;
      font-size: 2rem;
      line-height: 1.4;
    }

    & > .product-description {
      margin-bottom: 2.5rem;
      font-size: 1.4rem;
      line-height: 1.5;
      text-align: left;
    }

    & > .price-container {
      display: flex;
      justify-content: flex-start;
      width: 100%;
      margin-bottom: 2.5rem;
      font-size: 2rem;
      gap: 2rem;
    }
  }
}

.dialog-content {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 50%;
    left: 50%;
    width: 80%;
    height: 80%;
    padding: 20px;
    background-color: #ffffff;
    border: 1px solid #cccccc;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    transform: translate(-50%, -50%);
    z-index: 2;
}

.dialog-close {
  position: absolute;
  top: 5%;
  right: 5%;
  width: 3%;
  height: 3%;
  border: none;
  background-color: transparent;
  cursor: pointer;

  & span {
    position: absolute;
    display: block;
    width: 100%;
    height: 2px;
    background-color: #e20a0a;

    &:first-child {
      transform: rotate(45deg);
    }

    &:last-child {
      transform: rotate(-45deg);
    }
  }
}
