.container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  margin: 0 auto;
  background: transparent;
  backdrop-filter: blur(25px);
  border-radius: 24px;
  // border: 3px solid rgba(257, 257, 257, .4);
  // box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
  transition: all ease .35s;

  &-login {
    width: 460px;
    height: 530px;
  }

  &-register {
    width: 550px;
    height: 990px;
  }
}

.main-box {
  width: 100%;
  padding: 50px;

  & h2 {
    text-align: center;
    font-size: 4rem;
    font-weight: 800;
    color: #162938;
  }
}

.input-box {
  position: relative;
  width: 100%;
  height: 52px;
  margin: 32px 0;
  border-bottom: 2px solid #162938;
  font-size: 1.7rem;

  & label {
    position: absolute;
    left: 6px;
    top: 10%;
    transform: translateY(-50%);
    pointer-events: none;
    font-weight: 500;
    color: #162938;
    transition: all ease .45s;
  }

  & input {
    width: 100%;
    height: 100%;
    padding: 0 30px 0 6px;
    background: transparent;
    font-weight: 600;
    color: #162938;

    &:focus ~ label,
    &:valid ~ label {
      top: -3px;
    }
  }

  & .icon {
    position: absolute;
    right: 9px;
    font-size: 1.9rem;
    color: #162938;
    line-height: 55px;
  }
}

.icon-lock:hover {
  cursor: pointer;
}

.check {
  margin: -14px 0 15px;

  & label {
    display: flex;
    font-size: 1.5rem;
    font-weight: 500;
    color: #162938;
    user-select: none;

    & input {
      margin-right: 15px;
      accent-color: #162938;
    }
  }
  
  & a {
    color: #162938;

    &:hover {
      text-decoration: underline;
    }
  }
}

.main-btn {
  width: 100%;
  height: 43px;
  border-radius: 8px;
  background: #162938;
  font-size: 1.7rem;
  font-weight: 600;
  color: #fff;
  cursor: pointer;

  &:hover {
    border: 1px solid #fff;
    background: #203545;
  }
}

.register {
  margin: 30px 0 10px;
  text-align: center;
  font-size: 1.5rem;
  font-weight: 500;
  color: #162938;

  & p {
    display: flex;
    justify-content: flex-end;
    gap: 30px;

    & a {
      font-weight: 600;
      color: #162938;

      &:hover {
        text-decoration: underline;
      }
    }
  }
}

.new-customer-message {
  color: #f70303;
  font-weight: 800;
}
