.my-profile {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 1.6rem;
}

.customer-personal-data {
  padding: 5rem 0 3rem 0;
}

.customer-personal-button {
  width: 10rem;
  height: 3rem;
  border-radius: 8px;
}

.customer-personal-button:active {
  background-color: red;
}

.customer-default-shipping-address {
  margin-bottom: 3rem;
}

.customer-default-billing-address {
  margin-bottom: 3rem;
}

.customer-default-shipping-address span,
.customer-default-billing-address span,
.customer-personal-data span {
  color: #01619e;
  padding-right: 1rem;
}

.customer-default-shipping-address div,
.customer-default-billing-address div,
.customer-personal-data div {
  line-height: 2rem;
}


.customer-address-table {
  border-collapse: separate;
  border-spacing: 1rem;
  border: 2px solid #01619e;
  margin-bottom: 6rem;
}

.customer-description-row {
  text-align: center;
  font-weight: bold;
  color: #01619e;
}

.customer-address-item {
  text-align: center;
  max-width: 120px;
  word-wrap: break-word;
}

@media (max-width: 480px) {
  .customer-address-table {
    border-spacing: .5rem;
  }
}

.input-container {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.input-label {
  margin-right: 10px;
  flex: 0 0 90px;
  font-weight: bold;
  color: #01619e;
}

.transparent-input {
  border: none;
  background-color: transparent;
  pointer-events: none;
  width: 100%;
  font-size: 1.6rem;
}

.customer-password,
.customer-default-address {
  margin-bottom: 2rem;
}

.customer-button-container {
  display: flex;
  justify-content: space-between;
  width: 21rem;
}

.customer-container-item,
.customer-address {
  border: 1px solid #ccc;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}