.my-profile {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.customer-personal-data {
  padding: 50px 0 30px 0;
}

.customer-default-shipping-address {
  padding-bottom: 30px;
}