@import "../../globalVariables.scss";

.header {
  width: 100%;

  &-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: $breakPoint-1;
    margin: 0 auto;
    padding: 20px 20px;

    @media screen and (max-width: $breakPoint-2) {
      flex-wrap: wrap;
    }

    &__logo {
      height: 2rem;
    }
  }
}


