.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.e-header-logo {
  height: 2rem;
  padding-left: 2rem;
}

@media screen and (max-width: 400px) {
  .header-container {
    flex-wrap: wrap;
  }
}
