.cart-container {
  text-align: center;
}

.cart-items {
  display: flex;
  justify-content: center;
  margin: 1rem;
  padding: 1rem;
  flex-wrap: wrap;
  gap: 2rem;
}

.cart-page-title {
  font-size: 2.4rem;
  font-weight: bold;
  text-align: center;
  color: #007bff;
  margin-bottom: 2rem;
  text-transform: uppercase;
  text-decoration: underline;
}

.cart-item {
  font-size: 2rem;
}

.empty-cart {
  font-size: 2rem;
}

.cart-item {
  position: relative;
  text-align: center;
  justify-content: space-between;
  display: flex;
  width: 30rem;
  height: 30rem;
  flex-direction: column;
  align-items: center;
  margin-bottom: 2rem;
  padding: 1rem;
  background-color: #fff;
  border-radius: 0.5rem;
  box-shadow: 0 0.2rem 0.4rem rgba(0, 0, 0, 0.5);
}

.cart-item-img {
  width: 15rem;
  height: 15rem;
  object-fit: cover;
  border-radius: 0.5rem;
  padding: 1rem;
}

.cart-item-title {
  font-size: 1.8rem;
  margin-right: 1rem;
}

.cart-item-price {
  font-size: 2rem;
  font-weight: 800;
  margin-left: 1rem;
}

.total-cart-price-container {
  display: flex;
  gap: 1rem;
  justify-content: center;
  font-size: 3rem;
  padding-top: 2rem;
  border-top: 0.1rem solid;
}

.cart-item-quantity-container {
  display: flex;
  align-items: center;
}

.cart-item-quantity-value {
  font-size: 1.6rem;
  padding: 0.5rem 1rem;
  border: 0.1rem solid #ccc;
  border-radius: 0.5rem;
  max-width: 4rem;
  margin: 1rem;
  text-align: center;
}

.cart-item-quantity-minus,
.cart-item-quantity-plus {
  width: 3rem;
  height: 3rem;
  font-size: 1.6rem;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 0.5rem;
  cursor: pointer;

  &:active {
    transform: scale(1.1);
  }

  &:disabled {
    background-color: #798897;
  }
}

.remove-cart-item-button {
  width: 3rem;
  height: 3rem;
  position: absolute;
  top: 0.3rem;
  right: 1rem;
  cursor: pointer;
  background-color: transparent;
  border: none;

  &::before,
  &::after {
    content: "";
    position: absolute;
    width: 0.2rem;
    height: 3rem;
    top: 0.5rem;
    left: 50%;
    background-color: #585656;
  }

  &::before {
    transform: rotate(45deg);
  }

  &::after {
    transform: rotate(-45deg);
  }

  &:hover {
    transform: scale(1.05);

    &::before,
    &::after {
      background-color: #f90202;
    }
  }
}

.empty-cart-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4rem;
}

.explore-button {
  max-width: 23rem;
}

.empty-cart-message {
  font-size: 3.5rem;
  color: #ff5733;
  margin-bottom: 2rem;
  font-weight: bold;
  text-transform: uppercase;
  text-shadow: 0.2rem 0.2rem 0.4rem rgba(0, 0, 0, 0.3);
  margin-top: 10rem;
}

.clear-cart {
  background-color: #f10a0a;
  border: 0.2rem solid #f10a0a;
  cursor: pointer;
  margin: 2rem;

  &:hover {
    color: #f10a0a;
    border: 0.2rem solid #f10a0a;
  }

  &:disabled {
    cursor: default;
    background-color: #a29b9b;
    border: 0.2rem solid #a29b9b;
  }

  &:hover:disabled {
    color: white;
    border: 0.2rem solid #a29b9b;
  }
}
