.catalog {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.product-container {
  display: flex;
  margin: 1rem;
  flex-wrap: wrap;
  justify-content: center;
}

.product-item {
  margin: 1rem;
  width: 29rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  border: 0.1rem solid #ddd;
  border-radius: 1rem;
  box-shadow: 0 0.2rem 0.4rem rgba(0, 0, 0, 0.1);
  transition: transform 0.2s, box-shadow 0.2s;

  &:hover {
    transform: translateY(-0.5rem);
    box-shadow: 0 0.6rem 1.2rem rgba(0, 0, 0, 0.1);
  }
}

.product-image {
  margin: 0.5rem;
  max-width: 24rem;
  height: 24rem;
}

.product-description {
  margin: 0.5rem;
  text-align: center;
}

.order-me {
  font-family: MuseoModerno, sans-serif, cursive;
  margin-bottom: 1rem;
  display: inline-block;
  padding: 1rem 1.5rem;
  font-size: 1.5rem;
  background-color: #007bff;
  color: #ffffff;
  border: none;
  border-radius: 0.5rem;
  cursor: pointer;
  transition: transform 0.3s, background-color 0.3s;

  &:hover {
  background-color: #0056b3;
  transform: scale(1.1);
  }
}
