// ! Global colors
$textColor: #162938;
$textColorOnHover: #b91313;
$blue: #008CBA;
$grey: #e5e5e5;
$white: #ffffff;
$black: #343434;

// ! Break points
// Container widths:
$breakPoint-1: 1200px;
$breakPoint-2: 992px;
$breakPoint-3: 768px;
$breakPoint-4: 576px;

