@import 'sanitize.css';

.title {
  width: 50px;

  font-size: 2cm;
  text-align: center;

  user-select: none;
}

.declaration-order {
  position: absolute;
  z-index: 10;

  display: block;
  float: right;
  width: 100px;
  height: 100px;
  margin: 10px;
  padding: 10px;

  color: #888;
  font: normal 16px Helvetica, sans-serif;
  line-height: 1.3;
  text-align: center;

  background-color: #eee;
  border: 1px solid #888;
  border-radius: 4px;
  opacity: 1;

  transition: all 1s;

  user-select: none;
  inset: 0;
}
