@import '../../globalVariables';

.swiper {
  width: 600px;
  height: 300px;
  user-select: none;
  @media (max-width: $breakPoint-1) {
    width: 100%;
  }

  &-slide {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    text-align: center;
    font-size: 18px;
    background: #ffffff;
  }

  &-button-next:after,
  &-button-prev:after {
    font-size: 20px !important;
    color: rgba(0, 122, 255, 0.66) !important;
  }

  &-button-next:hover, &-button-prev:hover {
    transform: scale(1.3);
    color: #007aff !important;
  }

  &-modal {
    z-index: 1010;
  }
}

